_Store
._*

a.out
*.exe
aff.numbers
bfs.numbers
Report.pages

testDataStructures
testGraph
testBreadthFirstSearch
testFordFulkerson
generateGraph
graph_ge
graph_ge_convert
analysisFordFulkerson
analysisBreadthFirstSearch
imageSegmentation
ff
